<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <title>HARISH | PROJECT NAME</title>
   </head>
   <body>
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/img/IMG_20190908_201516.png" alt="">
            <h2>THIRD TABLE</h2>
            <p class="lead">Below is 3rd table for practice, impress my little Liya</p>
         </div>
         <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
               <h4 class="mb-3">Place the Details</h4>
               {% if show_hidden == True %}
               <div class="alert alert-success" role="alert">{{ prediction_text }}</div>
               {% endif %}
               <form action="{{ url_for('predict')}}"method="post" class="needs-validation" >
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="3 X 1 = ">3 X 1 = </label>
                        <input type="text" class="form-control" id="3 X 1 = " name="3 X 1 = " placeholder="" value="" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="3 X 2 = ">3 X 2 = </label>
                        <input type="text" class="form-control" id="3 X 2 = " name="3 X 2 = "  placeholder="" value="" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="3 X 3 = ">3 X 3 = </label>
                        <input type="text" class="form-control" id="3 X 3 = " name="3 X 3 = " placeholder="" value="" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="3 X 4 = ">3 X 4 = </label>
                        <input type="text" class="form-control" id="3 X 4 = " name="3 X 4 = "  placeholder="" value="" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="3 X 5 = ">3 X 5 = </label>
                        <input type="text" class="form-control" id="3 X 5 = " name="3 X 5 = " placeholder="" value="" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="3 X 6 = ">3 X 6 = </label>
                        <input type="text" class="form-control" id="3 X 6 = " name="3 X 6 = "  placeholder="" value="" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="3 X 7 = ">3 X 7 = </label>
                        <input type="text" class="form-control" id="3 X 7 = " name="3 X 7 = " placeholder="" value="" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="3 X 8 = ">3 X 8 = </label>
                        <input type="text" class="form-control" id="3 X 8 = " name="3 X 8 = "  placeholder="" value="" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label for="3 X 9 = ">3 X 9 = </label>
                        <input type="text" class="form-control" id="3 X 9 = " name="3 X 9 = " placeholder="" value="" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="3 X 10 = ">3 X 10 = </label>
                        <input type="text" class="form-control" id="3 X 10 = " name="3 X 10 = "  placeholder="" value="" required>
                     </div>
                  </div>



                  <button class="btn btn-primary btn-lg btn-block" type="submit">submit</button>
            </div>
            <div class="col-md-2">
            </div>
            </form>
         </div>
         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020-2021 HARISH</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </body>
</html>
